<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySiteStatusLabel">Create or edit a Site Status</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!siteStatus.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="siteStatus.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_reportedAvailable">Reported Available</label>
            <input type="number" class="form-control" name="reportedAvailable" id="field_reportedAvailable"
                [(ngModel)]="siteStatus.reportedAvailable" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_trend">Trend</label>
            <select class="form-control" name="trend" [(ngModel)]="siteStatus.trend" id="field_trend" >
                <option value="EMPTYING">EMPTYING</option>
                <option value="STEADY">STEADY</option>
                <option value="FILLING">FILLING</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_open" ngbTooltip="wheather parking site is open or closed">Open</label>
            <input type="checkbox" class="form-control" name="open" id="field_open"
                [(ngModel)]="siteStatus.open" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_trustData" ngbTooltip="reports that the site is opeating normally
Possible reasons for false include construction,
maintenance, equipment failures">Trust Data</label>
            <input type="checkbox" class="form-control" name="trustData" id="field_trustData"
                [(ngModel)]="siteStatus.trustData" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastDeviceUpdate">Last Device Update</label>
            <div class="d-flex">
                <input id="field_lastDeviceUpdate" type="datetime-local" class="form-control" name="lastDeviceUpdate" [(ngModel)]="siteStatus.lastDeviceUpdate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastOperatorUpdate">Last Operator Update</label>
            <div class="d-flex">
                <input id="field_lastOperatorUpdate" type="datetime-local" class="form-control" name="lastOperatorUpdate" [(ngModel)]="siteStatus.lastOperatorUpdate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_site">Site</label>
            <select class="form-control" id="field_site" name="site" [(ngModel)]="siteStatus.siteId">
                <option [ngValue]="null"></option>
                <option [ngValue]="siteOption.id" *ngFor="let siteOption of sites; trackBy: trackSiteById">{{siteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
