
<div *ngIf="county">
    <h2><span>County</span> {{county.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>County Name</span></dt>
        <dd>
            <span>{{county.countyName}}</span>
        </dd>
        <dt><span>District</span></dt>
        <dd>
            <div *ngIf="county.districtId">
                <a [routerLink]="['/district-tpims', county.districtId]">{{county.districtId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'county-tpims/'+ county.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
